<br>
<br>
<!-- Filter starts -->
<div class="filter-wrapper">
    <div class="filter-title title border-bottom"><i class="fa fa-male" aria-hidden="true"></i> Categories</div>
    <form action="categories" method="POST">
        <div class="filter-criterias">
            <div class="checkbox checkbox-success">
                <input name="cman" id="cman" type="checkbox">
                <label for="cman">
                    Man
                </label>
            </div>
            <div class="checkbox checkbox-success">
                <input name="cwoman" id="cwoman" type="checkbox">
                <label for="cwoman">
                    Woman
                </label>
            </div>
        </div>
        <div class="filter-button">
            <button type="submit" class="btn btn-primary full-width">Apply</button>
        </div>
    </form>
</div>
<!-- Filter ends -->
