<br>
<br>
<!-- Filter starts -->
<div class="filter-wrapper">
    <div class="filter-title title border-bottom"><i class="fa fa-sort-amount-desc" aria-hidden="true"></i> Filter Titles</div>
    <form action="filterTitles" method="POST">
        <div class="filter-criterias">
            <div class="checkbox checkbox-success">
                <input name="adidas" id="adidas" type="checkbox">
                <label for="adidas">
                    Adidas
                </label>
            </div>
            <div class="checkbox checkbox-success">
                <input name="nike" id="nike" type="checkbox">
                <label for="nike">
                    Nike
                </label>
            </div>
        </div>
        <div class="filter-button">
            <button type="submit" class="btn btn-primary full-width">Apply</button>
        </div>
    </form>
</div>
<!-- Filter ends -->
