<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 mt-md-0 mt-6">

        <!-- Content -->
        <h5 class="text-uppercase">Contacts: </h5>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <div class="col-md-4 mb-md-0 mb-4">
        <p>
          <i class="fa fa-home mr-3"></i> Ukraine, Lviv</p>
          </div>
         <div class="col-md-4 mb-md-0 mb-4">
        <p>
          <i class="fa fa-envelope mr-3"></i> olive.shop@gmail.com</p>
          </div>
         <div class="col-md-4 mb-md-0 mb-4">
        <p>
          <i class="fa fa-phone mr-3"></i>+380737070050</p>
          </div>
      </div>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-6 mb-md-0 mb-6">

        <!-- Links -->
        <ul class="list-unstyled list-inline text-center">
            <li>
      			<a href="https://www.facebook.com/" class="btn btn-default btn-lg"><i class="fa fa-facebook"> <span class="network-name"></span></i></a></p>
      		</li>
            <li>
      			<a href="https://twitter.com/?lang=ru" class="btn btn-default btn-lg"><i class="fa fa-twitter"> <span class="network-name"></span></i></a></p>
      		</li>
            <li>
      			<a href="https://www.instagram.com/?hl=ru" class="btn btn-default btn-lg"><i class="fa fa-instagram"> <span class="network-name"></span></i></a></p>
      		</li>
      		<li>
      			<a href="https://www.google.com/" class="btn btn-default btn-lg"><i class="fa fa-google"> <span class="network-name"></span></i></a></p>
      		</li>
       		<li>
      			<a href="https://www.linkedin.com/" class="btn btn-default btn-lg"><i class="fa fa-linkedin"> <span class="network-name"></span></i></a></p>
      		</li>
    	</ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://www.instagram.com/schematic.m/?hl=ru">Khoma</a>
    <a> and </a>
    <a href="https://www.instagram.com/solomiya.rybai">Rybai</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->