<div class="row">
    <div class="col-md-2">
        {{>leftSidebar}}
        {{>categories}}
    </div>
    <div class="col-md-10">
    <br>
        <div class="searchParams border-bottom">
            All products
        </div>
        <div class="row">
            {{>productList}}
        </div>
    </div>
</div>

<div class="row">
    {{>footer}}
</div>